@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Special+Elite&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #eaf7f0;
  font-family: 'Special Elite', cursive, sans-serif;
  margin: 0;
}

.banner-image {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=735&q=80");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=735&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

.banner-image h1 {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 15%;
  -webkit-transform: translate(-15%, -70%);
          transform: translate(-15%, -70%);
  color: #fff;
  text-shadow: 1px 3px #000;
  font-size: 9vw;
  font-family: 'Special Elite', cursive, sans-serif;
  letter-spacing: 2px;
}

.container {
  margin: auto;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.container .no-search-added {
  opacity: 0;
}

.container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .flex input,
.container .flex button {
  border: 1px solid #dedede;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
}

.container .flex input[type='text'] {
  width: 300px;
  font-family: 'Special Elite', cursive, sans-serif;
  font-size: 16px;
  outline: none;
}

.container .flex .search-btn {
  cursor: pointer;
  border-left: 0;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
}

.container .flex .random-btn {
  cursor: pointer;
  margin-left: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container .flex .test-btn {
  cursor: pointer;
  margin-left: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.meals {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  margin: auto;
}

.meal {
  cursor: pointer;
  position: relative;
  height: 190px;
  width: 190px;
  text-align: center;
}

.meal img {
  width: 100%;
  height: 100%;
  border: 4px solid #fff;
  border-radius: 4px;
}

.meal .meal-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  color: #fff;
  padding: 5px;
  opacity: 0;
}

.meal .meal-info:hover {
  opacity: 1;
}

.single-meal {
  margin: 30px auto;
  width: 70%;
}

.single-meal img {
  width: 300px;
  margin: 15px;
  border: 4px solid #fff;
  border-radius: 4px;
}

.single-meal .single-meal-info {
  margin: 20px;
  padding: 10px;
  border: 2px #3D9970 dashed;
  border-radius: 5px;
  background: #fff;
}

.single-meal p {
  margin: 0;
  letter-spacing: .5px;
  line-height: 1.5;
}

.single-meal ul {
  padding-left: 0;
  list-style-type: none;
}

.single-meal ul li {
  border: 1px solid #ededed;
  border-radius: 5px;
  background-color: #3D9970;
  display: inline-block;
  font-size: 16px;
  padding: 7px;
  color: #fff;
  margin: 0 5px 5px 0;
}

@media (max-width: 1200px) {
  .meals {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .meal {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 800px) {
  .meals {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .banner-image {
    height: 60vh;
  }
  .flex input[type='text'] {
    width: 100% !important;
  }
  .meals {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .meal {
    height: 300px;
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */